{"swagger":"2.0","info":{"title":"SecurityScorecard API","version":"1.10.18","contact":{"name":"SecurityScorecard Support","email":"support@securityscorecard.io"},"description":"REST API for the SecurityScorecard platform: manage portfolios, companies, scores, findings, and integrations.\n\nThis documentation is built from two kinds of sources.\n\n## Internal API docs (`servicesWithInternalApiDocs`)\n\nSpecs are fetched at runtime from other microservices/repositories. Those sections are dynamic and reflect the live specs exposed by each service.\n\n- [audit](https://users.prod.ssc.camp/api-docs)\n- [authentication-policies](https://users.prod.ssc.camp/api-docs)\n- [eval](https://eval.prod.ssc.camp/api-docs)\n- [feedback](https://measurements.prod.ssc.camp/api-docs)\n- [fluxus](https://fluxus-rest-api.prod.ssc.camp/docs/fluxus.json)\n- [footprint](https://footprint.prod.ssc.camp/api-docs)\n- [managed-services](https://users.prod.ssc.camp/api-docs)\n- [max](https://max-api.prod.ssc.camp/api-docs)\n- [measurements](https://measurements.prod.ssc.camp/api-docs)\n- [plans](https://plans.prod.ssc.camp/api-docs)\n- [subscriptions](https://subscriptions.prod.ssc.camp/api-docs)\n- [users](https://users.prod.ssc.camp/api-docs)\n- [zzzzzz](https://users.prod.ssc.camp/api-docs)\n\n## External API docs (`servicesWithExternalApiDocs`)\n\nSpecs are bundled in this repository (local Swagger 2.0 files or static definitions). They are versioned and maintained here rather than fetched from elsewhere.","x-logo":{"url":"https://platform.securityscorecard.io/images/ssc-logo-white-stacked.svg","backgroundColor":"#222830"}},"host":"api.securityscorecard.io","schemes":["https"],"basePath":"/","consumes":["application/json"],"produces":["application/json; charset=utf-8"],"securityDefinitions":{"Token":{"type":"apiKey","in":"header","name":"Authorization","description":"SecurityScorecard API endpoints require an authentication token to be passed\nin an authorization header in order to return data. If you do not already\nhave a token, you can create one by going to the API Access area in your\n[Settings page](https://platform.securityscorecard.io/#/settings/api) and then\nclicking Generate New Token. Please note this tokens have no expiration\nso they can be used until manually revoked. If you have a token and generate\na new one, the previous token will be revoked and can no longer be used.\n\nAdministrators can also revoke API tokens for any user in their account.\n\nOnce you have your token you can pass it in using the `Authorization` http header like this:\n\n```\ncurl -X GET \\\n  https://api.securityscorecard.io/portfolios \\\n  -H 'authorization: Token <your token>'\n```\n"}},"security":[{"Token":[]}],"definitions":{"FactorList":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/FactorListItem"}}}},"FactorListItem":{"type":"object","additionalProperties":false,"properties":{"key":{"description":"permanent key for this factor","type":"string","x-example":"application_security"},"name":{"description":"human-readable name","type":"string","x-example":"Application Security"},"description":{"description":"human-readable description","type":"string","x-example":"Detecting common website application vulnerabilities"}}},"IssueTypeList":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/IssueTypeListItem"}}}},"IssueTypeListItem":{"type":"object","additionalProperties":false,"properties":{"key":{"description":"permanent key for this issue type","type":"string","x-example":"cookie_secure_flag"},"severity":{"description":"severity of this type of issue","type":"string","enum":["POSITIVE","INFO","LOW","MEDIUM","HIGH"],"x-example":"MEDIUM"},"short_description":{"description":"human-readable name","type":"string"},"long_description":{"description":"human-readable description","type":"string"},"recommendation":{"description":"steps to resolve the issue","type":"string"}}},"CompanyScoreHistory":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","description":"list of historical scores (this can be empty if the company hasn't been scored yet)","items":{"$ref":"#/definitions/CompanyScoreHistoryEntry"}}}},"CompanyFactorScoreHistory":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","description":"list of historical factor scores (this can be empty if the company hasn't been scored yet)","items":{"$ref":"#/definitions/CompanyFactorScoreHistoryEntry"}}}},"CompanyScoreHistoryEntry":{"type":"object","additionalProperties":false,"properties":{"domain":{"type":"string","description":"primary domain of the company","x-example":"example.com"},"date":{"type":"string","format":"date-time","description":"effective date for this score","x-example":"2018-01-14T00:00:00.000Z"},"score":{"type":"integer","description":"company security score from 0 to 100","x-example":97}}},"CompanyFactorScoreHistoryEntry":{"type":"object","additionalProperties":true,"properties":{"date":{"type":"string","format":"date-time","description":"effective date for this score","x-example":"2018-01-14T00:00:00.000Z"},"factors":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"factor key","x-example":"application_security"},"score":{"type":"integer","description":"company factor security score from 0 to 100","x-example":93}}}}}},"IndustryScoreHistory":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/IndustryScoreHistoryEntry"}}}},"IndustryScoreHistoryEntry":{"type":"object","additionalProperties":false,"properties":{"industry":{"type":"string","description":"industry (permanent key)","x-example":"technology"},"date":{"type":"string","format":"date-time","description":"effective date for these scores","x-example":"2018-01-14T00:00:00.000Z"},"minScore":{"type":"integer","description":"minimum score for companies on this industry","x-example":57},"maxScore":{"type":"integer","description":"maximum score for companies on this industry","x-example":99},"avgScore":{"type":"number","description":"average score for companies on this industry","x-example":87.89847328244275}}},"BusinessImpact":{"type":"string","description":"Business impact of the company. One of low, medium, high, critical, none","enum":["low","medium","high","critical","none"]},"LifecycleStatus":{"type":"string","description":"Status of the company in the company lifecycle. One of new, assess, respond, monitor","enum":["new","assess","respond","monitor"]},"DataTypesShared":{"type":"string","description":"Data types shared with the company. Any of PII, PHI, sensitive, financial","enum":["PII","PHI","sensitive","financial"]},"Risk":{"type":"object","description":"Supply chain risk","enum":["low","medium","high","critical","none"],"properties":{"risk_score":{"type":"number","format":"integer","example":83,"description":"The aggregate score of all 1st and 2nd connections detected for a company."}}},"BusinessUnit":{"type":"string","description":"Business unit that manages the relationship with the company. One of product, engineering, HR, finance, legal, compliance, sales, marketing, IT, R&D, other","enum":["product","engineering","HR","finance","legal","compliance","sales","marketing","IT","R&D","other"]},"ContractEndDate":{"type":"string","description":"Date on which the company's contract ends","format":"date-time"},"CompanyId":{"type":"string","description":"Customer internal ID assigned to the company","example":"example-id"},"InternalContact":{"type":"string","format":"email","description":"Customer internal user email who maintain the relationship with the company","example":"user@example.com"},"Company":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"ID of the company"},"domain":{"type":"string","description":"Domain of the company","example":"example.com"},"name":{"type":"string","description":"Name of the company","example":"Example Inc"},"added_date":{"type":"string","format":"date-time","description":"Date on which the company started to be followed"},"tags":{"description":"Tags visible to the current user that are linked to the company","type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","example":"Example-Tag-01"}}}},"portfolios":{"description":"Portfolios visible to the current user where the company belongs to","type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","example":"Example Portfolio"}}}},"monitored":{"description":"Flag that determines if the company is monitored (belongs to at least one portfolio) or non-monitored","type":"boolean"},"business_impact":{"$ref":"#/definitions/BusinessImpact"},"lifecycle_status":{"$ref":"#/definitions/LifecycleStatus"},"data_types_shared":{"type":"array","items":{"$ref":"#/definitions/DataTypesShared"}},"risk":{"$ref":"#/definitions/Risk"},"business_unit":{"$ref":"#/definitions/BusinessUnit"},"contract_end_date":{"$ref":"#/definitions/ContractEndDate"},"vendor_id":{"$ref":"#/definitions/CompanyId"},"internal_contact":{"$ref":"#/definitions/InternalContact"}}},"Note":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"note":{"type":"string","example":"Example note description"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"created_by":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"username":{"type":"string","example":"john_doe"}}},"updated_by":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"first_name":{"type":"string","example":"John"},"last_name":{"type":"string","example":"Doe"},"username":{"type":"string","example":"john_doe"}}}}},"CollectionResponse":{"properties":{"page":{"description":"The current page of results","minimum":1,"type":"integer"},"size":{"description":"The number of records to be returned per page","example":100,"type":"integer"},"total":{"description":"The total number of records matching the given query","example":999,"type":"integer"}}},"Error":{"properties":{"message":{"description":"Human readable message, suitable for showing in some UI","example":"company must be added to a portfolio first: example.com","type":"string"},"statusCode":{"example":403,"type":"integer"},"data":{"description":"The field that is causing the error","type":"object","additionalProperties":true,"example":{"domain":"example.com"}},"key":{"description":"Some string to be used for further lookup","example":"company_not_in_a_portfolio","type":"string"}},"required":["message","statusCode"]},"ErrorResponse":{"properties":{"error":{"$ref":"#/definitions/Error"}},"required":["error"]},"Vendor":{"description":"A party in the supply chain that makes goods and services available to a company","properties":{"company":{"example":"Example Ltd","type":"string"},"connection_detail":{"example":"GET - static.image.example.com OK/200","type":"string"},"domain":{"example":"example.com","type":"string"},"industry":{"example":"information_services","type":"string"},"observed":{"format":"date-time","type":"string"},"score":{"example":75,"type":"integer"},"source":{"enum":["HTTP requests","Detected libraries","Mail exchange","Enhanced illumination"],"type":"string"}},"type":"object"},"Vendors":{"allOf":[{"$ref":"#/definitions/CollectionResponse"}],"description":"Vendors used by a company","properties":{"entries":{"items":{"$ref":"#/definitions/Vendor"},"type":"array"}},"type":"object"},"Product":{"type":"object","description":"A product used by a vendor","properties":{"name":{"type":"string","example":"Example"}}},"Products":{"type":"object","description":"Products used by a vendor","properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/Product"}}},"allOf":[{"$ref":"#/definitions/CollectionResponse"}]},"PortfolioVendor":{"type":"object","description":"A party in the supply chain that makes goods and services available to a company in a portfolio","properties":{"domain":{"type":"string","example":"example.com"},"company":{"type":"string","example":"Example Ltd"},"score":{"type":"integer","example":75},"thirty_day_change":{"type":"integer","format":"float","example":-4},"products_used":{"type":"integer","example":1815},"connections_count":{"type":"integer","example":184},"connections_percent":{"type":"integer","minimum":1,"maximum":100}}},"PortfolioVendors":{"type":"object","description":"Vendors used by companies in a portfolio","properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/PortfolioVendor"}}},"allOf":[{"$ref":"#/definitions/CollectionResponse"}]},"IssueContext":{"type":"object","additionalProperties":false,"properties":{"company_incidence_percentage":{"type":"number","description":"Percentage of similar companies that have this issue","x-example":12.5},"findings_count_average":{"type":"number","description":"Average number of findings of this issue in similar companies","x-example":2.9}}},"ScorePlanItem":{"type":"object","additionalProperties":false,"description":"issue that require remediation","properties":{"issue_type":{"type":"string","description":"issue type key","x-example":"redirect_chain_contains_http"},"title":{"type":"string","description":"issue type title","x-example":"Redirect Chain Contains HTTP\""},"findings":{"type":"integer","description":"amount of findings of that issue type","x-example":5},"remediations":{"type":"integer","description":"amount of findings of that issue type that plan suggests to remediate","x-example":3},"factor":{"type":"string","description":"the factor this issue type belong to","x-example":"application_security"},"severity":{"type":"string","description":"the issue type severity","x-example":"medium"}}},"ScorePlan":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","description":"a list of issues to remediate","items":{"$ref":"#/definitions/ScorePlanItem"}},"size":{"type":"integer","description":"the ammount of issue types that require remediation","x-example":8},"projected_total_score":{"type":"number","description":"the projected company score if all plan issues are resolved,","x-example":90}}},"IntakeVendorReviewItems":{"type":"object","description":"List of vendor intake form submissions for review.","properties":{"items":{"type":"array","description":"Array of vendor intake form submission entries.","items":{"type":"object"}}}},"IntakeVendorPublishStatus":{"type":"object","description":"Publish status for the current intake vendor form.","properties":{"status":{"type":"string","enum":["active","inactive"],"description":"Whether the form is currently published (active) or not (inactive)."},"publishedUrl":{"type":"string","description":"Published URL for the form when published, if applicable."},"updatedAt":{"type":"string","format":"date-time","description":"When the publish status or form was last updated."}}},"IntakeVendorForm":{"type":"object","description":"Current organization intake vendor form including its questions, options, mappings, and access emails.","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier of the form."},"name":{"type":"string","description":"Display name of the form."},"questions":{"type":"array","description":"Ordered list of questions configured on the form.","items":{"$ref":"#/definitions/IntakeVendorQuestion"}},"access_emails":{"type":"array","description":"Email addresses with access to this form's submissions.","items":{"type":"string","format":"email"}},"updatedAt":{"type":"string","format":"date-time","description":"When the form was last updated."}}},"IntakeVendorQuestion":{"type":"object","description":"A question configured on the intake vendor form.","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier of the question."},"type":{"type":"string","description":"Question type (e.g. text, single_choice, multi_choice)."},"label":{"type":"string","description":"Question text shown to respondents."},"required":{"type":"boolean","description":"Whether an answer is required."},"display_order":{"type":"integer","description":"Position of the question within the form (server-assigned)."},"options":{"type":"array","description":"Selectable options for choice-type questions.","items":{"$ref":"#/definitions/IntakeVendorQuestionOption"}},"mappings":{"type":"array","description":"Mappings from this question to internal vendor fields.","items":{"type":"object"}}}},"IntakeVendorSubmission":{"type":"object","description":"A single intake vendor form submission for the current organization.","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier of the submission."},"form_id":{"type":"string","format":"uuid","description":"ID of the form this submission was made against."},"review_state":{"type":"string","description":"Current review state of the submission (e.g. pending, approved, rejected)."},"answers":{"type":"array","description":"Answers provided for the form's questions.","items":{"type":"object"}},"submittedAt":{"type":"string","format":"date-time","description":"When the submission was created."},"updatedAt":{"type":"string","format":"date-time","description":"When the submission was last updated."}}},"IntakeVendorSubmissionPatch":{"type":"object","description":"Payload for updating an intake vendor form submission.","properties":{"review_state":{"type":"string","description":"New review state for the submission (e.g. pending, approved, rejected)."}}},"IntakeVendorQuestionOption":{"type":"object","description":"A selectable option for a choice-type question.","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier of the option."},"label":{"type":"string","description":"Option text shown to respondents."},"value":{"type":"string","description":"Internal value associated with this option."}}},"IntakeVendorAccessDomains":{"type":"object","description":"List of email domains with access to the current intake vendor form.","properties":{"domains":{"type":"array","description":"Email domains permitted to access the form.","items":{"type":"string"}}}},"IntakeVendorAccessDomainsInput":{"type":"object","description":"Payload for updating the list of email domains with access to the current intake vendor form.","properties":{"emails":{"type":"array","description":"Email domains permitted to access the form.","items":{"type":"string"}}}},"IntakeRiskThresholdRow":{"type":"object","description":"One risk band — tier label, normalized score upper bound, and (optionally) the assigned Atlas template id joined from risk_tier_templates.","required":["level","score"],"properties":{"level":{"type":"string","enum":["low","medium","high","critical"],"description":"Risk tier label."},"score":{"type":"number","description":"Inclusive upper bound of normalized score for this tier."},"templateId":{"type":"string","description":"Atlas template UUID assigned to this tier. Empty string means \"No assessment\". On PUT, an absent templateId field leaves the existing assignment unchanged."}}},"IntakeRiskSettings":{"type":"object","description":"Per-tier risk thresholds with template assignments for the current intake vendor form.","required":["rows"],"properties":{"rows":{"type":"array","items":{"$ref":"#/definitions/IntakeRiskThresholdRow"}}}},"IntakeRiskSettingsUpdateRequest":{"type":"object","description":"Request body for PUT /intake-vendor/forms/current/risk-settings.","required":["rows"],"properties":{"rows":{"type":"array","items":{"$ref":"#/definitions/IntakeRiskThresholdRow"}}}},"RiskTierTemplate":{"type":"object","description":"Per-organization assignment of an Atlas template to a risk tier.","required":["id","organizationId","riskTier","templateId","createdAt","createdBy","updatedAt","updatedBy"],"properties":{"id":{"type":"string","format":"uuid","description":"Row id."},"organizationId":{"type":"string","format":"uuid","description":"Owning organization id."},"riskTier":{"type":"string","enum":["low","medium","high","critical"],"description":"Risk tier label."},"templateId":{"type":"string","description":"Atlas template UUID; empty string means \"No assessment\"."},"createdAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"},"updatedBy":{"type":"string"}}},"RiskTierTemplatesResponse":{"type":"object","description":"All four (org × risk tier) template assignments.","required":["rows"],"properties":{"rows":{"type":"array","items":{"$ref":"#/definitions/RiskTierTemplate"}}}},"RiskTierTemplatesUpdateRow":{"type":"object","description":"One template-assignment row in a bulk update.","required":["riskTier","templateId"],"properties":{"riskTier":{"type":"string","enum":["low","medium","high","critical"]},"templateId":{"type":"string","description":"Atlas template UUID; empty string means \"No assessment\"."}}},"RiskTierTemplatesUpdateRequest":{"type":"object","description":"Bulk-replaces all four (org × risk tier) template assignments. Must contain exactly four rows covering low, medium, high, critical.","required":["rows"],"properties":{"rows":{"type":"array","items":{"$ref":"#/definitions/RiskTierTemplatesUpdateRow"}}}},"IntakeVendorQuestionInput":{"type":"object","description":"Payload describing a question to create or update on the form.","required":["type","label"],"properties":{"type":{"type":"string","description":"Question type (e.g. text, single_choice, multi_choice)."},"label":{"type":"string","description":"Question text shown to respondents."},"required":{"type":"boolean","description":"Whether an answer is required."},"options":{"type":"array","description":"Selectable options for choice-type questions.","items":{"type":"object","properties":{"label":{"type":"string"},"value":{"type":"string"}}}},"mappings":{"type":"array","description":"Mappings from this question to internal vendor fields.","items":{"type":"object"}}}},"ReportsList":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/ReportsListItem"}}}},"ReportsListItem":{"type":"object","additionalProperties":false,"properties":{"id":{"type":"string"},"title":{"type":"string","x-example":"Example co. Detailed Report","description":"human-readable title for this report"},"format":{"type":"string","x-example":"csv","description":"file content format"},"report_type":{"type":"string","x-example":"summary","description":"type of report requested"},"created_at":{"type":"string","format":"date-time","description":"time the report was requested"},"completed_at":{"type":"string","format":"date-time","description":"time report generation completed (only when completed)"},"download_url":{"type":"string","description":"url that can be used to download the completed report (only when completed successfully). that url might respond with a redirect (302) that you'll have to follow to download the file, most http agents will do this automatically."}}},"CompanyReportCreation":{"type":"object","additionalProperties":false,"properties":{"scorecard_identifier":{"type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com"},"branding":{"type":"string","enum":["securityscorecard","company_and_securityscorecard","company"],"x-example":"company","description":"note: white-labeling has to be enabled for your account\n  * `securityscorecard` (default) = reports are only displaying SecurityScorecard's logo\n  * `company_and_securityscorecard` = your company's logo will be used in conjunction with Security Scorecard's.\n  * `company` = reports are only displaying your company's logo"}},"required":["scorecard_identifier"]},"PartnershipReportCreation":{"type":"object","additionalProperties":false,"properties":{"scorecard_identifier":{"type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com"}},"required":["scorecard_identifier"]},"CompanyReportWithPdfOrCsvCreation":{"type":"object","additionalProperties":false,"properties":{"scorecard_identifier":{"type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com"},"format":{"type":"string","description":"output format","enum":["pdf","csv"],"x-example":"pdf"}},"required":["scorecard_identifier"]},"ScorecardFootprintCSVReportCreation":{"type":"object","additionalProperties":false,"properties":{"scorecard_identifier":{"type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com"},"format":{"type":"string","description":"output format","enum":["pdf","csv"],"x-example":"csv"},"ips":{"type":"array","description":"array of string of ips"},"subdomains":{"type":"array","description":"array of string of subdomains"},"countries":{"type":"array","description":"array of string of county codes"}},"required":["scorecard_identifier"]},"ScorecardFootprintCSVReportCreationV2":{"type":"object","additionalProperties":false,"properties":{"domain":{"type":"string","description":"Domain name for the Footprint export","x-example":"example.com"},"assets":{"type":"string","description":"selected assets for the Footprint export"}},"required":["domain"]},"PortfolioReportCreation":{"type":"object","additionalProperties":false,"properties":{"format":{"type":"string","description":"output format","enum":["pdf","csv"],"x-example":"pdf"},"portfolio_id":{"type":"string","description":"the portfolio id"}},"required":["portfolio_id"]},"FullScorecardReportCreation":{"type":"object","properties":{"params":{"type":"object","additionalProperties":false,"properties":{"scorecard_identifier":{"type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com"}},"required":["scorecard_identifier"]}}},"EventsReportCreation":{"type":"object","properties":{"params":{"type":"object","additionalProperties":false,"properties":{"scorecard_identifier":{"type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com"},"date":{"type":"string","description":"the day when the events happened","x-example":"2018-11-08"}},"required":["scorecard_identifier","date"]}}},"ReportCreated":{"type":"object","additionalProperties":true,"properties":{"id":{"type":"string"}}},"AssessmentJobCreation":{"type":"object","additionalProperties":false,"properties":{"domain":{"type":"string","description":"Domain name for the Assessments export","x-example":"example.com"},"bucketName":{"type":"string","description":"Name of the bucket"},"key":{"type":"string","description":"Key for the assessments"},"filters":{"type":"array","description":"Selected filters for export Assessments","items":{"type":"object","properties":{"operator":{"type":"string"},"field":{"type":"string"},"condition":{"type":"string"},"value":{"type":"array","items":{"type":"string"}}}}}},"required":["domain","bucketName","key"]},"LegacyPortfolioList":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/LegacyPortfolioListItem"}}}},"LegacyPortfolioListItem":{"type":"object","additionalProperties":false,"properties":{"id":{"type":"string"},"name":{"type":"string","x-example":"Example Co."},"type":{"type":"string","enum":["PRIVATE","PUBLIC"],"x-example":"PRIVATE"}}},"LegacyPortfolioVendorsList":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/VendorScore"}},"count":{"description":"total number of companies in this portfolio","type":"integer"}}},"VendorScore":{"type":"object","additionalProperties":false,"properties":{"name":{"type":"string","description":"public company name","x-example":"Example Co."},"domain":{"type":"string","description":"primary domain of the company","x-example":"example.com"},"type":{"type":"string","description":"company industry","x-example":"TECHNOLOGY"},"size":{"type":"string","description":"company estimated size (employees)","x-example":"SIZE_501_TO_1000"},"grade":{"type":"string","description":"company security grade (A to F)","enum":["A","B","C","D","F"],"x-example":"A"},"grade_url":{"type":"string","description":"url to an image depicting the grade"},"score":{"type":"integer","description":"company security score from 0 to 100","x-example":97}}},"VendorFactorSummary":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/VendorFactorSummaryItem"}}}},"VendorFactorSummaryItem":{"type":"object","additionalProperties":false,"properties":{"key":{"type":"string","description":"factor key","x-example":"application_security"},"grade":{"type":"string","description":"company security grade (A to F)","enum":["A","B","C","D","F"],"x-example":"A"},"grade_url":{"type":"string","description":"url to an image depicting the grade"},"issue_summary":{"type":"array","items":{"type":"object","properties":{"severity":{"description":"severity of this type of issue","type":"string","enum":["positive","info","low","medium","high"],"x-example":"medium"},"issue_type":{"description":"issue type (permanent key)","type":"string","x-example":"cookie_secure_flag"},"count":{"description":"total findings of this issue type on this company","type":"integer","x-example":42}}}}}},"CompanySecurityGrade":{"type":"string","description":"a company security scorecard grade (A to F), or '?' if it's calculating.","enum":["A","B","C","D","F","?"],"x-example":"A"},"CompanySize":{"type":"string","description":"a company described based on number of employees","enum":["unknown","size_1_to_10","size_11_to_50","size_51_to_200","size_201_to_500","size_501_to_1000","size_1001_to_5000","size_5001_to_10000","size_more_than_10000"],"x-example":"size_501_to_1000"},"CompanySummary":{"type":"object","additionalProperties":false,"properties":{"name":{"type":"string","description":"public company name","x-example":"Example Co."},"domain":{"type":"string","description":"primary domain of the company (used as unique identifier)","x-example":"example.com"},"grade":{"description":"security grade","$ref":"#/definitions/CompanySecurityGrade","x-example":"A"},"grade_url":{"type":"string","description":"url to an image depicting the grade"},"score":{"type":"integer","description":"security score from 0 to 100. this property is undefined if score is still being calculated.","x-example":97},"industry":{"type":"string","description":"industry (unique identifier). 'unknown' if this wasn't yet determined.","x-example":"technology"},"size":{"description":"estimated size, based on number of employees. 'unknown' if this wasn't yet determined)","$ref":"#/definitions/CompanySize","x-example":"size_501_to_1000"},"uuid":{"type":"string","description":"Identifier"},"last30day_score_change":{"type":"integer","description":"The delta score in 30 days"},"is_custom":{"type":"boolean","description":"Is custom scorecard"},"is_entity":{"type":"boolean","description":"Is an entity"},"is_un_published":{"type":"boolean","description":"Is unpublished"},"created_at":{"type":"string","format":"date-time","description":"created date"},"disputed":{"type":"boolean","description":"Is disputed"},"provisional":{"type":"boolean","description":"The score is provisional"}}},"AddCompanyResponse":{"type":"object","additionalProperties":false,"properties":{"name":{"type":"string","description":"public company name","x-example":"Example Co."},"domain":{"type":"string","description":"primary domain of the company (used as unique identifier)","x-example":"example.com"},"grade":{"description":"security grade","$ref":"#/definitions/CompanySecurityGrade","x-example":"A"},"grade_url":{"type":"string","description":"url to an image depicting the grade"},"score":{"type":"integer","description":"security score from 0 to 100. this property is undefined if score is still being calculated.","x-example":97},"industry":{"type":"string","description":"industry (unique identifier). 'unknown' if this wasn't yet determined.","x-example":"technology"},"size":{"description":"estimated size, based on number of employees. 'unknown' if this wasn't yet determined)","$ref":"#/definitions/CompanySize","x-example":"size_501_to_1000"}}},"CompanyFactor":{"type":"object","additionalProperties":false,"properties":{"name":{"type":"string","description":"factor name/id","x-example":"network_security"},"score":{"type":"integer","description":"security score from 0 to 100","x-example":95},"grade":{"description":"security grade","$ref":"#/definitions/CompanySecurityGrade","x-example":"A"},"grade_url":{"type":"string","description":"url to an image depicting the grade"},"issue_summary":{"type":"array","items":{"type":"object","properties":{"severity":{"description":"severity of this type of issue","type":"string","enum":["positive","info","low","medium","high"],"x-example":"medium"},"type":{"description":"issue type (permanent key)","type":"string","x-example":"cookie_secure_flag"},"count":{"description":"total findings of this issue type on this company","type":"integer","x-example":5},"detail_url":{"description":"api endpoint to get the issue findings detail of this issue type","type":"string","x-example":"https://api.securityscorecard.io/companies/example.com/issues/cookie_secure_flag"},"total_score_impact":{"description":"score impact of all issue findings of this type to the scorecard's overall score","type":"number","x-example":3.2}}}}}},"CompanyEvent":{"type":"object","properties":{"date":{"type":"string","format":"date-time","description":"event's date","x-example":"2018-11-02"},"event_type":{"type":"string","description":"type of event","x-example":"breach"},"breach_data":{"type":"object","properties":{"method":{"type":"string","description":"the method used by the attacker(s)","x-example":"Inside Job"},"description":{"type":"string","description":"a long human-readable description of the incident","x-example":"A former Intel employees pleaded guilty to stealing documents for competitive advantage.  The employee worked ..."},"link":{"type":"string","description":"a link to an article that explains this breach"}}}}},"CompanyFactors":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/CompanyFactor"}},"total":{"type":"integer","description":"Total number of factors"}}},"CompanySummaryFactors":{"allOf":[{"$ref":"#/definitions/CompanySummary"},{"type":"object","properties":{"factors":{"type":"array","items":{"$ref":"#/definitions/CompanyFactor"}}}}]},"CompanyEvents":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/CompanyEvent"}}}},"ExpandedRiskEvent":{"description":"An event pertaining to a company's environmental, social, or governance risk","properties":{"confidence":{"example":"High","type":"string"},"category":{"example":"STATE_OWNED_COMPANY","type":"string"},"comments":{"example":"Example comment","type":"string"},"company_name":{"example":"Example Ltd","type":"string"},"created_at":{"example":"2020-01-01T00:00:00.000Z","format":"date-time","type":"string"},"event":{"example":"SOE involved in Public Services","type":"string"},"event_urls":{"items":{"example":"https://example.com/event1","type":"string"},"type":"array"},"primary_source":{"example":"Website","type":"string"},"scorecard_domain":{"example":"example.com","type":"string"},"scorecard_id":{"example":"aea7dae2-370f-4279-a458-4c7cb9661778","type":"string"},"source_url":{"example":"https://example.com/scanned","type":"string"},"sub_category":{"example":"SOE: Govt Owned Corp","type":"string"},"updated_date":{"example":"2020-01-01T00:00:00.000Z","format":"date-time","type":"string"}}},"ExpandedRiskEvents":{"allOf":[{"$ref":"#/definitions/ExpandedRiskCollectionResponse"}],"description":"Events associated with a domain","properties":{"entries":{"items":{"$ref":"#/definitions/ExpandedRiskEvent"},"type":"array"}},"type":"object"},"ExpandedRiskCollectionResponse":{"properties":{"size":{"description":"The number of records to be returned per page","example":100,"type":"integer"},"total":{"description":"The total number of records matching the given query","example":999,"type":"integer"}}},"ExpandedRiskError":{"properties":{"data":{"additionalProperties":true,"description":"The field that is causing the error","example":{"domain":"example.com"},"type":"object"},"key":{"description":"Some string to be used for further lookup","example":"company_not_in_a_portfolio","type":"string"},"message":{"description":"Human readable message, suitable for showing in some UI","example":"company must be added to a portfolio first: example.com","type":"string"},"statusCode":{"example":403,"type":"integer"}},"required":["message","statusCode"]},"ExpandedRiskErrorResponse":{"properties":{"error":{"$ref":"#/definitions/ExpandedRiskError"}},"required":["error"]},"CompanyActiveIssueObservation":{"type":"object","additionalProperties":false,"properties":{"ip":{"type":"string","description":"ip address"},"port":{"type":"integer","description":"port"},"sni":{"type":"string","description":"sni"},"last_seen_time":{"type":"string","format":"date-time","description":"last seen time","x-example":"2018-11-02T00:00:00.000Z"}}},"CompanyActiveIssue":{"type":"object","additionalProperties":false,"required":["issue_id","issue_count"],"properties":{"issue_id":{"type":"string","description":"issue id","x-example":"55e448c4e4b0c986fd66ff12"},"issue_count":{"type":"number","description":"total number of findings of this issue on this company","x-example":42},"effective_date":{"type":"string","format":"date-time","description":"effective date of this issue","x-example":"2018-11-02"},"evidence":{"type":"array","items":{"type":"string","description":"evidence of this issue"}},"first_seen_time":{"type":"string","format":"date-time","description":"first seen time of this issue","x-example":"2018-11-02T00:00:00.000Z"},"last_seen_time":{"type":"string","format":"date-time","description":"last seen time of this issue","x-example":"2018-11-02T00:00:00.000Z"},"group_status":{"type":"string","description":"group status of this issue","x-example":"active"},"issuer_name":{"type":"string","description":"issuer name of this issue"},"observations":{"type":"array","items":{"$ref":"#/definitions/CompanyActiveIssueObservation"}},"sha256_fingerprint":{"type":"string","description":"sha256 fingerprint of this issue"},"target":{"type":"string","description":"target of this issue"},"port":{"type":"integer","description":"port of this issue"}}},"CompanyActiveByIssueType":{"type":"object","additionalProperties":false,"required":["name","issues"],"properties":{"name":{"description":"issue type (permanent key)","type":"string","x-example":"cookie_secure_flag"},"issues":{"description":"list of active issues of this type on this company","type":"array","items":{"$ref":"#/definitions/CompanyActiveIssue"}},"issues_count":{"type":"number","description":"total active issues of this type on this company","x-example":42}}},"CompanyActiveIssues":{"type":"object","additionalProperties":false,"properties":{"issue_types":{"type":"array","items":{"$ref":"#/definitions/CompanyActiveByIssueType"}},"total_active_issues":{"description":"total number of active issues","type":"number"}}},"PortfolioPrivacy":{"type":"string","description":"private: only visible to owner, shared: visible to the entire organization, team: group of users within an organization","enum":["private","shared","team"],"x-example":"private"},"PortfolioCreate":{"type":"object","additionalProperties":false,"properties":{"name":{"description":"human-readable name","type":"string","x-example":"Our Vendors"},"description":{"description":"human-readable description","type":"string","x-example":"These are all the vendors we monitor for security risk"},"privacy":{"$ref":"#/definitions/PortfolioPrivacy"},"team_id":{"description":"the team id","type":"string","x-example":"2d67d768-0def-5755-9201-1c38dcc1568f"}},"required":["name"]},"PortfolioEdit":{"type":"object","additionalProperties":false,"properties":{"name":{"description":"human-readable name","type":"string","x-example":"Our Vendors"},"description":{"description":"human-readable description","type":"string","x-example":"These are all the vendors we monitor for security risk"},"privacy":{"$ref":"#/definitions/PortfolioPrivacy"}},"required":["name"]},"Portfolio":{"type":"object","additionalProperties":false,"properties":{"id":{"description":"unique identifier","type":"string"},"name":{"description":"human-readable name","type":"string","x-example":"Our Vendors"},"description":{"description":"human-readable description","type":"string","x-example":"These are all the vendors we monitor for security risk"},"privacy":{"$ref":"#/definitions/PortfolioPrivacy"}},"required":["name"]},"PortfolioList":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/PortfolioListItem"}},"count":{"description":"total number of portfolios in this list","type":"integer","x-example":10}}},"PortfolioListItem":{"type":"object","additionalProperties":false,"properties":{"id":{"description":"unique identifier","type":"string"},"name":{"description":"human-readable name","type":"string","x-example":"Our Vendors"},"description":{"description":"human-readable description","type":"string","x-example":"These are all the vendors we monitor for security risk"},"privacy":{"$ref":"#/definitions/PortfolioPrivacy"},"read_only":{"type":"boolean","description":"indicates if the portfolio details (title, description, privacy) can be modified"}}},"PortfolioCompaniesListItem":{"type":"object","additionalProperties":false,"properties":{"name":{"type":"string","description":"public company name","x-example":"Example Co."},"domain":{"type":"string","description":"primary domain of the company (used as unique identifier)","x-example":"example.com"},"grade":{"description":"security grade","$ref":"#/definitions/CompanySecurityGrade","x-example":"A"},"grade_url":{"type":"string","description":"url to an image depicting the grade"},"score":{"type":"integer","description":"security score from 0 to 100","x-example":97},"industry":{"type":"string","description":"industry (unique identifier)","x-example":"technology"},"size":{"description":"estimated size, based on number of employees","$ref":"#/definitions/CompanySize"},"last30days_score_change":{"description":"last 30 days score change","type":"integer"}}},"PortfolioCompaniesList":{"type":"object","additionalProperties":false,"properties":{"entries":{"type":"array","items":{"$ref":"#/definitions/PortfolioCompaniesListItem"}},"total":{"description":"total number of companies in this portfolio","type":"integer","x-example":10}}}},"paths":{"/portfolios":{"get":{"summary":"Get all portfolios you have access to","tags":["portfolios"],"responses":{"200":{"description":"the list of portfolios","schema":{"$ref":"#/definitions/PortfolioList"}}}},"post":{"summary":"Create a new portfolio","tags":["portfolios"],"parameters":[{"in":"body","name":"body","required":true,"schema":{"$ref":"#/definitions/PortfolioCreate"}}],"responses":{"200":{"description":"the created portfolio","schema":{"$ref":"#/definitions/Portfolio"}}}}},"/portfolios/companies/bulk-upload":{"put":{"description":"Add companies in bulk to a portfolios","tags":["Portfolio","portfolios"],"consumes":["application/json"],"produces":[],"parameters":[{"name":"body","required":true,"in":"body","schema":{"type":"object","properties":{"portfolios":{"type":"array","items":{"type":"string"},"description":"list of portfolio IDs"},"companies":{"type":"array","items":{"type":"string"},"description":"company domains"},"bulkInvite":{"type":"boolean","description":"t/f if the upload was created via csv bulk upload"},"tagType":{"type":"string"}},"additionalProperties":false,"required":["portfolios","companies"]}},{"name":"auth_mechanism","description":"propaged auth mechanism to distinguish platform requests and API integrations","required":false,"in":"query","type":"string"}],"responses":{"201":{"description":"No response body"}},"summary":"Add companies in bulk to a portfolios"}},"/portfolios/{portfolio_id}":{"put":{"summary":"Edit a portfolio","tags":["portfolios"],"parameters":[{"in":"path","name":"portfolio_id","type":"string","required":true,"x-example":"55e448c4e4b0c986fd66ff12"},{"in":"body","name":"body","schema":{"$ref":"#/definitions/PortfolioEdit"},"required":true}],"responses":{"200":{"description":"the edited portfolio","schema":{"$ref":"#/definitions/Portfolio"}}}},"delete":{"summary":"Delete a portfolio","tags":["portfolios"],"parameters":[{"in":"path","name":"portfolio_id","type":"string","description":"id of a portfolio you have write access to","required":true,"x-example":"55e448c4e4b0c986fd66ff12"}],"responses":{"204":{"description":"No response body"}}}},"/portfolios/{portfolio_id}/companies":{"get":{"summary":"Get all companies in a portfolio","tags":["portfolios"],"parameters":[{"in":"path","name":"portfolio_id","type":"string","description":"a portfolio unique id","required":true,"x-example":"55e448c4e4b0c986fd66ff12"},{"in":"query","name":"grade","type":"string","description":"company score grade filter","x-example":"A","required":false},{"in":"query","name":"industry","type":"string","description":"industry filter","x-example":"retail","required":false},{"in":"query","name":"vulnerability","type":"string","description":"CVE vulnerability filter","x-example":"CVE-2016-0800","required":false},{"in":"query","name":"issue_type","type":"string","description":"issue type filter","x-example":"service_vuln_host_medium","required":false},{"in":"query","name":"status","type":"string","enum":["active","inactive"],"description":"company status","x-example":"inactive","required":false},{"in":"query","name":"had_breach_within_last_days","type":"number","description":"companies with breaches in last N days","x-example":15,"required":false}],"responses":{"200":{"description":"the list of companies","schema":{"$ref":"#/definitions/PortfolioCompaniesList"}}}}},"/portfolios/{id}/companies/all":{"delete":{"description":"Remove all companies from a portfolio","tags":["Portfolio","portfolios"],"consumes":["application/json"],"produces":[],"parameters":[{"name":"id","description":"portfolio id","required":true,"in":"path","type":"string"}],"responses":{"204":{"description":"No response body"}},"summary":"Remove all companies from a portfolio"}},"/portfolios/{portfolio_id}/companies/{domain}":{"put":{"summary":"Add company to portfolio","tags":["portfolios"],"parameters":[{"in":"path","name":"portfolio_id","type":"string","description":"a portfolio unique id","required":true,"x-example":"55e448c4e4b0c986fd66ff12"},{"in":"path","name":"domain","type":"string","description":"a company's internet domain. this parameter accepts any valid internet domain.","x-example":"example.com","required":true}],"responses":{"200":{"description":"added company's summary","schema":{"$ref":"#/definitions/AddCompanyResponse"}}}},"delete":{"summary":"Remove company from portfolio","tags":["portfolios"],"parameters":[{"in":"path","name":"portfolio_id","type":"string","description":"id of a portfolio you have write access to","required":true,"x-example":"55e448c4e4b0c986fd66ff12"},{"in":"path","name":"domain","type":"string","description":"company primary domain","x-example":"example.com","required":true}],"responses":{"204":{"description":"No response body"}}}},"/portfolios/{portfolio_id}/expanded-risk":{"get":{"summary":"Get all expanded risk events in a portfolio","tags":["portfolios"],"parameters":[{"description":"a portfolio unique id","in":"path","name":"portfolio_id","required":true,"type":"string","x-example":"cf4f5858-2b59-41ba-853c-8a506528d491"},{"description":"optionally filter events by category","in":"query","name":"category","type":"string","enum":["adverse","corruption","financial crime","high risk industry","pep","relative or associate","sanctions","state owned company","terrorism","watchlist"],"x-example":"watchlist"},{"description":"optionally filter events by confidence","in":"query","name":"confidence","type":"string","enum":["low","unlikely","medium","high"],"x-example":"high"},{"description":"optionally specify which page of results to return","in":"query","minimum":1,"name":"page","type":"integer","x-example":1},{"description":"optionally specify how many results to return","in":"query","maximum":5000,"minimum":1,"name":"limit","type":"integer","x-example":100}],"responses":{"200":{"description":"OK","headers":{"Link":{"description":"URL to be used to used to fetch additional pages of results","type":"string"}},"schema":{"$ref":"#/definitions/ExpandedRiskEvents"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Company must be added to a portfolio first"},"404":{"description":"Company not found"},"default":{"description":"Error Payload","schema":{"$ref":"#/definitions/ExpandedRiskErrorResponse"}}}}},"/scorecard-tags":{"get":{"description":"Get all scorecard tags","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"a list of scorecard tags","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"unique identifier of the scorecard tag"},"name":{"type":"string","x-example":"Example Tag Name"},"description":{"type":"string","x-example":"Example Description"}},"additionalProperties":false,"required":["name"],"description":"a scorecard tag"}},"total":{"type":"integer","x-example":20}},"additionalProperties":false,"required":["entries","total"],"description":"a list of scorecard tags"}}},"summary":"Get all scorecard tags"},"post":{"description":"Create a scorecard tag","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"TagCreate","description":"scorecard tag payload","required":true,"in":"body","schema":{"type":"object","properties":{"name":{"type":"string","x-example":"Example Tag Name"},"description":{"type":"string","x-example":"Example Description"}},"additionalProperties":false,"required":["name"],"description":"the created scorecard tag"}}],"responses":{"200":{"description":"a scorecard tag","schema":{"type":"object","properties":{"id":{"type":"string","description":"unique identifier of the scorecard tag"},"name":{"type":"string","x-example":"Example Tag Name"},"description":{"type":"string","x-example":"Example Description"}},"additionalProperties":false,"required":["name"],"description":"a scorecard tag"}}},"summary":"Create a scorecard tag"}},"/scorecard-tags/bulk-delete":{"post":{"description":"Deletes a list of tags by the given ids in a single request","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":[],"parameters":[{"name":"BulkDelete","description":"list of tag ids","required":true,"in":"body","schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"public_tags":{"type":"boolean"}},"additionalProperties":false,"required":["ids"],"description":"ids of tags"}}],"responses":{"204":{"description":"No response body"}},"summary":"Deletes a list of tags by the given ids in a singl"}},"/scorecard-tags/groups":{"post":{"description":"Create a new scorecard tag group","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ScorecardTagGroupPayload","description":"tag group payload","required":true,"in":"body","schema":{"type":"object","properties":{"name":{"type":"string","description":"scorecard tag group name"}},"additionalProperties":false,"required":["name"],"description":"Scorecard Tag Group Payload"}}],"responses":{"200":{"description":"Scorecard Tag Group","schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^[\\da-z-]{16,}$","description":"the id of the scorecard tag group"},"name":{"type":"string","description":"scorecard tag group name"}},"additionalProperties":false,"required":["name"],"description":"Scorecard Tag Group"}}},"summary":"Create a new scorecard tag group"},"get":{"description":"Get all scorecard tag groups","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"a list of Scorecard Tag Groups","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^[\\da-z-]{16,}$","description":"the id of the scorecard tag group"},"name":{"type":"string","description":"scorecard tag group name"},"tag_ids":{"type":"array","items":{"type":"string"}}},"additionalProperties":false,"required":["name"],"description":"Scorecard Tag Group"}}},"additionalProperties":false,"required":["entries"],"description":"a list of Scorecard Tag Groups"}}},"summary":"Get all scorecard tag groups"}},"/scorecard-tags/groups/{id}":{"put":{"description":"Edit a scorecard tag group","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","description":"tag group id","required":true,"in":"path","type":"string","format":"uuid","pattern":"^[\\da-z-]{16,}$"},{"name":"ScorecardTagGroupPayload","description":"tag group payload","required":true,"in":"body","schema":{"type":"object","properties":{"name":{"type":"string","description":"scorecard tag group name"}},"additionalProperties":false,"required":["name"],"description":"Scorecard Tag Group Payload"}}],"responses":{"200":{"description":"Scorecard Tag Group","schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^[\\da-z-]{16,}$","description":"the id of the scorecard tag group"},"name":{"type":"string","description":"scorecard tag group name"}},"additionalProperties":false,"required":["name"],"description":"Scorecard Tag Group"}}},"summary":"Edit a scorecard tag group"},"get":{"description":"Get a scorecard tag group","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","description":"scorecard tag group id","required":true,"in":"path","type":"string","format":"uuid","pattern":"^[\\da-z-]{16,}$"}],"responses":{"200":{"description":"Scorecard Tag Group","schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","pattern":"^[\\da-z-]{16,}$","description":"the id of the scorecard tag group"},"name":{"type":"string","description":"scorecard tag group name"}},"additionalProperties":false,"required":["name"],"description":"Scorecard Tag Group"}}},"summary":"Get a scorecard tag group"},"delete":{"description":"Delete a scorecard tag group","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":[],"parameters":[{"name":"id","description":"tag group id","required":true,"in":"path","type":"string","format":"uuid","pattern":"^[\\da-z-]{16,}$"}],"responses":{"204":{"description":"No response body"}},"summary":"Delete a scorecard tag group"}},"/scorecard-tags/remove-public-tag-association":{"post":{"description":"Deletes a list of tags by the given ids in a single request","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":[],"parameters":[{"name":"RemovePublicTagAssociation","description":"payload of the public tag that is going to be removed fomr a domain","required":true,"in":"body","schema":{"type":"object","properties":{"tag_name":{"type":"string","description":"the public tag name"},"domain":{"type":"string","description":"the domain where the public tag is going to be removed"}},"additionalProperties":false,"required":["tag_name","domain"],"description":"Removes a public tag associated to the given domain"}}],"responses":{"204":{"description":"No response body"}},"summary":"Deletes a list of tags by the given ids in a singl"}},"/scorecard-tags/{id}":{"put":{"description":"Update a scorecard tag","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","description":"scorecard tag id","required":true,"in":"path","type":"string"},{"name":"TagUpdate","description":"scorecard tag payload","required":true,"in":"body","schema":{"type":"object","properties":{"id":{"type":"string","description":"unique identifier of the scorecard tag"},"name":{"type":"string","x-example":"Example Tag Name"},"description":{"type":"string","x-example":"Example Description"},"privacy":{"type":"string","default":"shared"}},"additionalProperties":false,"required":["name"],"description":"the updated scorecard tag"}}],"responses":{"200":{"description":"a scorecard tag","schema":{"type":"object","properties":{"id":{"type":"string","description":"unique identifier of the scorecard tag"},"name":{"type":"string","x-example":"Example Tag Name"},"description":{"type":"string","x-example":"Example Description"}},"additionalProperties":false,"required":["name"],"description":"a scorecard tag"}}},"summary":"Update a scorecard tag"},"delete":{"description":"Delete a scorecard tag","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":[],"parameters":[{"name":"id","description":"scorecard tag id","required":true,"in":"path","type":"string"}],"responses":{"204":{"description":"No response body"}},"summary":"Delete a scorecard tag"}},"/scorecard-tags/{id}/companies":{"get":{"summary":"Get all companies associated with a scorecard tag","tags":["scorecard-tags"],"parameters":[{"in":"path","name":"id","type":"string","description":"a scorecard tag unique id","required":true,"x-example":"55e448c4e4b0c986fd66ff12"},{"in":"query","name":"grade","type":"string","description":"company score grade filter","x-example":"A","required":false},{"in":"query","name":"industry","type":"string","description":"industry filter","x-example":"retail","required":false},{"in":"query","name":"vulnerability","type":"string","description":"CVE vulnerability filter","x-example":"CVE-2016-0800","required":false},{"in":"query","name":"issue_type","type":"string","description":"issue type filter","x-example":"service_vuln_host_medium","required":false},{"in":"query","name":"status","type":"string","enum":["active","inactive"],"description":"company status","x-example":"inactive","required":false},{"in":"query","name":"had_breach_within_last_days","type":"number","description":"companies with breaches in last N days","x-example":15,"required":false}],"responses":{"200":{"description":"the list of companies","schema":{"$ref":"#/definitions/PortfolioCompaniesList"}}}}},"/scorecard-tags/{id}/companies/{domain}":{"post":{"summary":"Add a scorecard tag to a company","tags":["scorecard-tags"],"parameters":[{"in":"path","name":"id","type":"string","description":"a scorecard tag unique id","required":true,"x-example":"55e448c4e4b0c986fd66ff12"},{"in":"path","name":"domain","type":"string","description":"a company's internet domain. this parameter accepts any valid internet domain.","x-example":"example.com","required":true}],"responses":{"200":{"description":"added company's summary","schema":{"$ref":"#/definitions/CompanySummary"}}}},"delete":{"summary":"Remove a scorecard tag from a company","tags":["scorecard-tags"],"parameters":[{"in":"path","name":"id","type":"string","description":"id of a scorecard tag you have write access to","required":true,"x-example":"55e448c4e4b0c986fd66ff12"},{"in":"path","name":"domain","type":"string","description":"company primary domain","x-example":"example.com","required":true}],"responses":{"204":{"description":"No response body"}}}},"/scorecard-tags/{tag_id}/groups/{tag_group_id}":{"post":{"description":"Add scorecard tag to a scorecard tag group","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":[],"parameters":[{"name":"tag_group_id","description":"tag group id","required":true,"in":"path","type":"string","format":"uuid","pattern":"^[\\da-z-]{16,}$"},{"name":"tag_id","description":"tag id","required":true,"in":"path","type":"string"}],"responses":{"200":{"description":"No response body"}},"summary":"Add scorecard tag to a scorecard tag group"},"delete":{"description":"Remove scorecard tag from a scorecard tag group","tags":["Tag","scorecard-tags"],"consumes":["application/json"],"produces":[],"parameters":[{"name":"tag_group_id","description":"tag group id","required":true,"in":"path","type":"string","format":"uuid","pattern":"^[\\da-z-]{16,}$"},{"name":"tag_id","description":"tag id","required":true,"in":"path","type":"string"}],"responses":{"200":{"description":"No response body"}},"summary":"Remove scorecard tag from a scorecard tag group"}},"/ip-domain-tags":{"get":{"summary":"Get all ip domain tags","parameters":[],"responses":{"200":{"description":"tag schema","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"organization_id":{"type":"string","description":"tag organization id"},"id":{"type":"string","description":"tag organization id"},"tag":{"type":"string","description":"tag name"},"description":{"type":"string","description":"tag description"}},"required":["id","tag","description"],"additionalProperties":false}}},"required":["entries"],"additionalProperties":false}}},"operationId":"getApi","tags":["Api","ip-domain-tags"]},"post":{"summary":"Create an ip domain tag","parameters":[{"description":"ip domain tag payload","name":"body","in":"body","schema":{"type":"object","properties":{"tag":{"type":"string","description":"tag name"},"description":{"type":"string","description":"tag description"}},"required":["tag"],"additionalProperties":false},"required":true}],"responses":{"200":{"description":"tag schema","schema":{"type":"object","properties":{"organization_id":{"type":"string","description":"tag organization id"},"id":{"type":"string","description":"tag organization id"},"tag":{"type":"string","description":"tag name"},"description":{"type":"string","description":"tag description"}},"required":["id","tag","description"],"additionalProperties":false}}},"operationId":"postApi","tags":["Api","ip-domain-tags"]}},"/ip-domain-tags/groups":{"get":{"summary":"Get all ip domain tag groups","parameters":[],"responses":{"200":{"description":"tag group schema","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"organization_id":{"type":"string","description":"tag organization id"},"id":{"type":"string","description":"tag organization id"},"name":{"type":"string","description":"tag name"},"tags":{"type":"array","description":"array of tag ids","items":{}},"description":{"type":"string","description":"tag description"}},"required":["id","name","tags","description"],"additionalProperties":false}}},"required":["entries"],"additionalProperties":false}}},"operationId":"getByParentdomainTagGroups","tags":["{Parent Domain}","ip-domain-tags"]},"post":{"summary":"Create a new ip domain tag group","parameters":[{"description":"ip domain tag group payload","name":"body","in":"body","schema":{"type":"object","properties":{"name":{"type":"string","description":"tag group name"},"description":{"type":"string","default":"","description":"tag group description"}},"required":["name"],"additionalProperties":false},"required":true}],"responses":{"200":{"description":"tag group schema","schema":{"type":"object","properties":{"organization_id":{"type":"string","description":"tag organization id"},"id":{"type":"string","description":"tag organization id"},"name":{"type":"string","description":"tag name"},"tags":{"type":"array","description":"array of tag ids"},"description":{"type":"string","description":"tag description"}},"required":["id","name","tags","description"],"additionalProperties":false}}},"operationId":"postApiTagGroups","tags":["Api","ip-domain-tags"]}},"/ip-domain-tags/groups/{id}":{"get":{"summary":"Get an ip domain tag group","parameters":[{"description":"tag group id","type":"string","name":"id","in":"path","required":true}],"responses":{"200":{"description":"tag group schema","schema":{"type":"object","properties":{"organization_id":{"type":"string","description":"tag organization id"},"id":{"type":"string","description":"tag organization id"},"name":{"type":"string","description":"tag name"},"tags":{"type":"array","description":"array of tag ids"},"description":{"type":"string","description":"tag description"}},"required":["id","name","tags","description"],"additionalProperties":false}}},"operationId":"getApiTagGroupsById","tags":["Api","ip-domain-tags"]},"put":{"summary":"Edit an ip domain tag group","parameters":[{"description":"tag group id","type":"string","name":"id","in":"path","required":true},{"description":"ip domain tag group payload","name":"body","in":"body","schema":{"type":"object","properties":{"name":{"type":"string","description":"tag group name"},"description":{"type":"string","description":"tag group description"}},"additionalProperties":false},"required":true}],"responses":{"200":{"description":"tag group schema","schema":{"type":"object","properties":{"organization_id":{"type":"string","description":"tag organization id"},"id":{"type":"string","description":"tag organization id"},"name":{"type":"string","description":"tag name"},"tags":{"type":"array","description":"array of tag ids"},"description":{"type":"string","description":"tag description"}},"required":["id","name","tags","description"],"additionalProperties":false}}},"operationId":"putApiTagGroupsById","tags":["Api","ip-domain-tags"]},"delete":{"summary":"Delete an ip domain tag group","parameters":[{"description":"tag group id","type":"string","name":"id","in":"path","required":true}],"responses":{"204":{"description":"No response body"}},"operationId":"deleteApiTagGroupsById","tags":["Api","ip-domain-tags"]}},"/ip-domain-tags/parent-domains/{parentDomain}/domains":{"get":{"summary":"Get all the domain tags of the parent domain","parameters":[{"description":"parent domain","type":"string","name":"parentDomain","in":"path","required":true}],"responses":{"200":{"description":"tag schema","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"tag organization id"},"name":{"type":"string","description":"tag name"}},"required":["id","name"],"additionalProperties":false}}},"required":["entries"],"additionalProperties":false}}},"operationId":"getApiByParentdomainDomainRelatedTags","tags":["Api","ip-domain-tags"]}},"/ip-domain-tags/parent-domains/{parentDomain}/ips":{"get":{"summary":"Get all the ip tags of the parent domain","parameters":[{"description":"parent domain","type":"string","name":"parentDomain","in":"path","required":true}],"responses":{"200":{"description":"tag schema","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"tag organization id"},"name":{"type":"string","description":"tag name"}},"required":["id","name"],"additionalProperties":false}}},"required":["entries"],"additionalProperties":false}}},"operationId":"getApiByParentdomainIpRelatedTags","tags":["Api","ip-domain-tags"]}},"/ip-domain-tags/{tagId}":{"put":{"summary":"Edit an ip domain tag","parameters":[{"description":"id tag","type":"string","name":"tagId","in":"path","required":true},{"description":"ip domain tag payload","name":"body","in":"body","schema":{"type":"object","properties":{"tag":{"type":"string","description":"name of the tag to be updated"},"description":{"type":"string","description":"description for the tag to be updated"}},"additionalProperties":false},"required":true}],"responses":{"200":{"description":"tag schema","schema":{"type":"object","properties":{"organization_id":{"type":"string","description":"tag organization id"},"id":{"type":"string","description":"tag organization id"},"tag":{"type":"string","description":"tag name"},"description":{"type":"string","description":"tag description"}},"required":["id","tag","description"],"additionalProperties":false}}},"operationId":"putApiByTagid","tags":["Api","ip-domain-tags"]},"delete":{"summary":"Delete an ip domain tag","parameters":[{"description":"tag id","type":"string","name":"tagId","in":"path","required":true}],"responses":{"204":{"description":"No response body"}},"operationId":"deleteApiByTagid","tags":["Api","ip-domain-tags"]}},"/ip-domain-tags/{tagId}/groups/{tagGroupId}":{"post":{"summary":"Add ip domain tag to a ip domain tag group","parameters":[{"description":"tag group id","type":"string","name":"tagGroupId","in":"path","required":true},{"description":"tag id","type":"string","name":"tagId","in":"path","required":true},{"description":"","name":"body","in":"body","schema":{"type":"object","properties":{},"additionalProperties":false},"required":true}],"responses":{"200":{"description":"tag group schema","schema":{"type":"object","properties":{"organization_id":{"type":"string","description":"tag organization id"},"id":{"type":"string","description":"tag organization id"},"name":{"type":"string","description":"tag name"},"tags":{"type":"array","description":"array of tag ids"},"description":{"type":"string","description":"tag description"}},"required":["id","name","tags","description"],"additionalProperties":false}}},"operationId":"postApiGroupsByTaggroupidAssociationByTagid","tags":["Api","ip-domain-tags"]},"delete":{"summary":"Remove ip domain tag to a ip domain tag group","parameters":[{"description":"id of updated tag-group","type":"string","name":"tagGroupId","in":"path","required":true},{"description":"tag id","type":"string","name":"tagId","in":"path","required":true},{"description":"","name":"body","in":"body","schema":{"type":"object","properties":{},"additionalProperties":false},"required":true}],"responses":{"200":{"description":"tag group schema","schema":{"type":"object","properties":{"organization_id":{"type":"string","description":"tag organization id"},"id":{"type":"string","description":"tag organization id"},"name":{"type":"string","description":"tag name"},"tags":{"type":"array","description":"array of tag ids"},"description":{"type":"string","description":"tag description"}},"required":["id","name","tags","description"],"additionalProperties":false}}},"operationId":"deleteApiGroupsByTaggroupidAssociationByTagid","tags":["Api","ip-domain-tags"]}},"/ip-domain-tags/{tagId}/parent-domains/{parentDomain}/domain/{domain}":{"post":{"summary":"Add a tag to a domain","parameters":[{"description":"parent domain","type":"string","name":"parentDomain","in":"path","required":true},{"description":"domain","type":"string","name":"domain","in":"path","required":true},{"description":"tag id","type":"string","name":"tagId","in":"path","required":true},{"description":"","name":"body","in":"body","schema":{"type":"object","properties":{},"additionalProperties":false},"required":true}],"responses":{"200":{"description":"domain association schema","schema":{"type":"object","properties":{"domain":{"type":"string","description":"domain"},"tags":{"type":"array","description":"array of tag ids","items":{}},"organization_id":{"type":"string","description":"orgarnization id"}},"required":["domain","tags","organization_id"],"additionalProperties":false}}},"operationId":"postApiByParentdomainDomainByDomainAssociateTagsByTagid","tags":["Api","ip-domain-tags"]},"delete":{"summary":"Remove a tag from a domain","parameters":[{"description":"parent domain","type":"string","name":"parentDomain","in":"path","required":true},{"description":"domain","type":"string","name":"domain","in":"path","required":true},{"description":"tag id","type":"string","name":"tagId","in":"path","required":true},{"description":"","name":"body","in":"body","schema":{"type":"object","properties":{},"additionalProperties":false},"required":true}],"responses":{"200":{"description":"domain association schema","schema":{"type":"object","properties":{"domain":{"type":"string","description":"domain"},"tags":{"type":"array","description":"array of tag ids"},"organization_id":{"type":"string","description":"orgarnization id"}},"required":["domain","tags","organization_id"],"additionalProperties":false}}},"operationId":"deleteApiByParentdomainDomainByDomainAssociateTagsByTagid","tags":["Api","ip-domain-tags"]}},"/ip-domain-tags/{tagId}/parent-domains/{parentDomain}/ip/{ip}":{"post":{"summary":"Add a tag to an ip","parameters":[{"description":"parent domain","type":"string","name":"parentDomain","in":"path","required":true},{"description":"ip","type":"string","name":"ip","in":"path","required":true},{"description":"tag id","type":"string","name":"tagId","in":"path","required":true},{"description":"","name":"body","in":"body","schema":{"type":"object","properties":{},"additionalProperties":false},"required":true}],"responses":{"200":{"description":"ip association schema","schema":{"type":"object","properties":{"ip":{"type":"string","description":"ip address"},"tags":{"type":"array","description":"array of tag ids","items":{}},"organization_id":{"type":"string","description":"orgarnization id"},"parent_domain":{"type":"string","description":"ip parent domain"}},"required":["ip","tags","organization_id","parent_domain"],"additionalProperties":false}}},"operationId":"postApiByParentdomainIpByIpAssociateTagsByTagid","tags":["Api","ip-domain-tags"]},"delete":{"summary":"Remove a tag from an ip","parameters":[{"description":"parent domain","type":"string","name":"parentDomain","in":"path","required":true},{"description":"ip","type":"string","name":"ip","in":"path","required":true},{"description":"tag id","type":"string","name":"tagId","in":"path","required":true},{"description":"","name":"body","in":"body","schema":{"type":"object","properties":{},"additionalProperties":false},"required":true}],"responses":{"200":{"description":"ip association schema","schema":{"type":"object","properties":{"ip":{"type":"string","description":"ip address"},"tags":{"type":"array","description":"array of tag ids","items":{}},"organization_id":{"type":"string","description":"orgarnization id"},"parent_domain":{"type":"string","description":"ip parent domain"}},"required":["ip","tags","organization_id","parent_domain"],"additionalProperties":false}}},"operationId":"deleteApiByParentdomainIpByIpAssociateTagsByTagid","tags":["Api","ip-domain-tags"]}},"/parent-domains/{parentDomain}/domains":{"post":{"summary":"Get all the domains for the parent domain","parameters":[{"description":"parent domain","type":"string","name":"parentDomain","in":"path","required":true},{"description":"filters, sorting and pagination","name":"body","in":"body","schema":{"type":"object","properties":{"filters":{"type":"array","items":{"type":"object","required":["operator","field","condition","value"],"properties":{"operator":{"description":"boolean operator - must be the same for all filters","type":"string","enum":["and","or"],"example":"and"},"field":{"description":"column name used for filtering","type":"string","enum":["status","findings","issues","scoreImpact","domain","domainType","ips","ipsCount","criticality","tags","publicTags","assetCategories","assignees","sources"],"example":"ip"},"condition":{"description":"condition that's used for comparing field value to input value","type":"string","enum":["=","!=",">","<",">=","<=","contains","does_not_contain","between","is_not_between","includes_all","includes_any","excludes_all","<<"],"example":"="},"value":{"description":"filters input value - array of 2 values for comparisons such as `between`, string otherwise","example":"127.0.0.1"}}}},"sort":{"type":"string","description":"field to sort by","enum":["status","-status","findings","-findings","issues","-issues","scoreImpact","-scoreImpact","domain","-domain","ipsCount","-ipsCount","criticality","-criticality","assetCategories","-assetCategories","sources","-sources"]},"page":{"description":"required page number, first page is 0","type":"number","default":0},"page_size":{"description":"size of the pages in the paginated result","type":"number","default":50}},"required":["page","page_size"],"additionalProperties":false},"required":true}],"responses":{"200":{"description":"domain schema","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string","description":"domain asset"},"status":{"type":"string","enum":["CLAIMED","ATTRIBUTED","REFUTED","UNDER_REVIEW_ADD","UNDER_REVIEW_REMOVE"],"description":"status of asset"},"issues":{"type":"number","description":"number of issue types associated with the asset"},"findings":{"type":"number","description":"number of findings associated with the asset"},"score_impact":{"type":"number","description":"sum impact of issue findings associated with the asset"},"age":{"type":"number","description":"how long the asset has been attributed"},"domain_type":{"type":"string","enum":["SUBDOMAIN","PARENT DOMAIN"],"description":"type of domain"},"ips_count":{"type":"number","description":"count of associated ips"},"sources_metadata":{"type":"array","description":"metadata for data sources","items":{}},"first_observed_at":{"type":"string","description":"date of the first attribution"},"criticality":{"type":"string","description":"criticality of the domain asset"},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"description":"tag id","type":"string"},"tag":{"description":"tag name","type":"string"}}},"description":"associated tags"},"public_tags":{"type":"array","items":{"type":"object","properties":{"id":{"description":"tag id","type":"string"},"tag":{"description":"tag name","type":"string"}}},"description":"associated tags"},"evidence_sources":{"type":"array","items":{"type":"string"},"description":"data sources evidence used to associate the asset to footprint"},"sources":{"type":"array","items":{"type":"string"},"description":"data sources used to associate the asset to footprint"},"asset_categories":{"type":"array","description":"asset category list","items":{"type":"string"}},"assignees":{"type":"object","properties":{"user":{"description":"assignee users","type":"string"},"team":{"description":"assignee teams","type":"string"}}}},"required":["domain","status","domain_type","ips_count","first_observed_at","criticality"],"additionalProperties":false}},"size":{"type":"number"}},"required":["entries","size"],"additionalProperties":false}}},"operationId":"postByParentdomainAssetsDomains","tags":["{Parent Domain}","ip-domain-tags"]}},"/parent-domains/{parentDomain}/ips":{"post":{"summary":"Get all the ips for the parent domain","parameters":[{"description":"parent domain","type":"string","name":"parentDomain","in":"path","required":true},{"description":"filters, sorting and pagination","name":"body","in":"body","schema":{"type":"object","properties":{"filters":{"type":"array","items":{"type":"object","required":["operator","field","condition","value"],"properties":{"operator":{"description":"boolean operator - must be the same for all filters","type":"string","enum":["and","or"],"example":"and"},"field":{"description":"column name used for filtering","type":"string","enum":["status","findings","issues","scoreImpact","ip","domain","country","tags","assetCategories","assignees","sources","hostnames"],"example":"ip"},"condition":{"description":"condition that's used for comparing field value to input value","type":"string","enum":["=","!=",">","<",">=","<=","contains","does_not_contain","between","is_not_between","includes_all","includes_any","excludes_all","<<"],"example":"="},"value":{"description":"filters input value - array of 2 values for comparisons such as `between`, string otherwise","example":"127.0.0.1"}}}},"sort":{"type":"string","description":"field to sort by","enum":["findings","-findings","issues","-issues","scoreImpact","-scoreImpact","ip","-ip","domain","-domain","assetCategories","-assetCategories","detection","-detection","sources","-sources"]},"page":{"description":"required page number, first page is 0","type":"number","default":0},"page_size":{"description":"size of the pages in the paginated result","type":"number","default":50}},"required":["page","page_size"],"additionalProperties":false},"required":true}],"responses":{"200":{"description":"ip schema","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"ip":{"type":"string","description":"ip asset belonging to domain"},"status":{"type":"string","enum":["CLAIMED","ATTRIBUTED","REFUTED","UNDER_REVIEW_ADD","UNDER_REVIEW_REMOVE"],"description":"status of asset"},"issues":{"type":"number","description":"number of issue types associated with the asset"},"findings":{"type":"number","description":"number of findings associated with the asset"},"score_impact":{"type":"number","description":"sum impact of issue findings associated with the asset"},"age":{"type":"number","description":"how long the asset has been attributed"},"detection":{"type":"array","items":{"type":"string"},"description":"detection methods"},"sources":{"type":"array","items":{"type":"string"},"description":"data sources used to associate the asset to footprint"},"sources_metadata":{"type":"array","description":"metadata for data sources","items":{}},"user_contributed":{"type":"array","description":"user contributed metadata","items":{}},"domains_count":{"type":"number","description":"count of domains associated with the ip asset"},"country":{"type":"object","properties":{"country_abbr":{"type":"string","description":"country abbreviation"},"name":{"type":"string","description":"name of the country"}},"required":["country_abbr","name"],"additionalProperties":false},"domains":{"type":"array","items":{"type":"string"},"description":"top 30 associated domains"},"evidence_sources":{"type":"array","items":{"type":"string"},"description":"data sources used to associate the asset to footprint"},"first_observed_at":{"type":"string","description":"date of the first attribution"},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"description":"tag id","type":"string"},"tag":{"description":"tag name","type":"string"}}},"description":"associated tags"},"asset_categories":{"type":"array","description":"asset category list","items":{"type":"string"}},"assignees":{"type":"object","properties":{"user":{"description":"assignee users","type":"string"},"team":{"description":"assignee teams","type":"string"}}},"hostnames":{"type":"array","items":{"type":"string"},"description":"Hostnames associated with the IP"}},"required":["ip","status","detection","sources","domains_count","country","domains"],"additionalProperties":false}},"size":{"type":"number"}},"required":["entries","size"],"additionalProperties":false}}},"operationId":"postByParentdomainAssetsIps","tags":["{Parent Domain}","ip-domain-tags"]}},"/companies/bulk-searches":{"post":{"description":"Search companies in bulk","tags":["Company","scores"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","required":true,"in":"body","schema":{"type":"object","properties":{"searches":{"type":"array","items":{"type":"string","x-example":"Microsoft"},"description":"search text array"},"maxSearches":{"type":"integer","default":100000,"description":"number of searches to perform"}},"additionalProperties":false,"required":["searches"]}}],"responses":{"201":{"description":"bulk searches results","schema":{"type":"object","properties":{"scorecards":{"type":"array","items":{"type":"object","properties":{"order":{"type":"number"},"id":{"type":"string","x-example":"5f1b0b5b-5b9b-4b0a-9e1a-0b5b9b4b0a9e"},"domain":{"type":"string","x-example":"example.com"},"name":{"type":"string","x-example":"Example Ltd"},"follows":{"type":"number","x-example":128},"searches":{"description":"list of scorecard original searches","type":"object","properties":{"original_query":{"type":"string","x-example":"example ltd"},"match_query":{"type":"string","x-example":"example"},"result":{"type":"string","x-example":"example.com"},"source":{"type":"string","x-example":"algolia"},"reason":{"type":"string","x-example":"third party restricted match"},"category":{"type":"string","x-example":"category of scorecard"},"attempt":{"type":"number","x-example":5},"confidence":{"type":"number","x-example":5},"is_new":{"type":"boolean","x-example":true},"is_already_using_slot":{"type":"boolean","x-example":true},"is_new_tagged":{"type":"boolean","x-example":true},"is_already_tagged":{"type":"boolean","x-example":true}},"additionalProperties":false},"contacts_count":{"type":"number","x-example":10},"industry_id":{"type":"string","x-example":"retail"},"active":{"type":"boolean","x-example":true}},"additionalProperties":false,"required":["domain"],"description":"scorecard search result"},"description":"list of domains found"},"not_found":{"type":"array","items":{"type":"object","properties":{"order":{"type":"number"},"attempts":{"type":"array","items":{"type":"object","properties":{"query":{"type":"string","x-example":"example ltd"},"reason":{"type":"string","x-example":"global exact search no match"},"category":{"type":"string","x-example":"category"},"attempt":{"type":"number","x-example":2},"original_query":{"type":"string","x-example":"example ltd"},"match_query":{"type":"string","x-example":"example"},"match_domain":{"type":"string","x-example":"example.com"},"confidence":{"type":"number","x-example":5}},"additionalProperties":false,"description":"attempt data"}}},"additionalProperties":false,"required":["order","attempts"],"description":"not found search data"},"description":"list of searches which has not found"},"repeated_domains":{"type":"array","items":{"type":"string"},"description":"list of domains found and repeated"},"scorecards_repeated":{"type":"array","items":{"type":"object","properties":{"order":{"type":"number"},"id":{"type":"string","x-example":"5f1b0b5b-5b9b-4b0a-9e1a-0b5b9b4b0a9e"},"domain":{"type":"string","x-example":"example.com"},"name":{"type":"string","x-example":"Example Ltd"},"follows":{"type":"number","x-example":128},"searches":{"description":"list of scorecard original searches","type":"object","properties":{"original_query":{"type":"string","x-example":"example ltd"},"match_query":{"type":"string","x-example":"example"},"result":{"type":"string","x-example":"example.com"},"source":{"type":"string","x-example":"algolia"},"reason":{"type":"string","x-example":"third party restricted match"},"category":{"type":"string","x-example":"category of scorecard"},"attempt":{"type":"number","x-example":5},"confidence":{"type":"number","x-example":5},"is_new":{"type":"boolean","x-example":true},"is_already_using_slot":{"type":"boolean","x-example":true},"is_new_tagged":{"type":"boolean","x-example":true},"is_already_tagged":{"type":"boolean","x-example":true}},"additionalProperties":false},"contacts_count":{"type":"number","x-example":10},"industry_id":{"type":"string","x-example":"retail"},"active":{"type":"boolean","x-example":true}},"additionalProperties":false,"required":["domain"],"description":"scorecard search result"},"description":"list of scorecards repeated"},"not_found_repeated":{"type":"array","items":{"type":"object","properties":{"order":{"type":"number"},"attempts":{"type":"array","items":{"type":"object","properties":{"query":{"type":"string","x-example":"example ltd"},"reason":{"type":"string","x-example":"global exact search no match"},"category":{"type":"string","x-example":"category"},"attempt":{"type":"number","x-example":2},"original_query":{"type":"string","x-example":"example ltd"},"match_query":{"type":"string","x-example":"example"},"match_domain":{"type":"string","x-example":"example.com"},"confidence":{"type":"number","x-example":5}},"additionalProperties":false,"description":"attempt data"}}},"additionalProperties":false,"required":["order","attempts"],"description":"not found search data"},"description":"list of searches which has not found and repeated"}},"additionalProperties":false,"required":["scorecards","not_found","repeated_domains"],"description":"bulk searches results"}}},"summary":"Search companies in bulk"}},"/companies/{scorecard_identifier}":{"get":{"summary":"Get a company information and scorecard summary","tags":["scores"],"parameters":[{"in":"path","name":"scorecard_identifier","type":"string","description":"primary identifier of a company or scorecard in SecurityScorecard. To determine this value, company must be added to a portfolio first.","x-example":"example.com","required":true}],"responses":{"200":{"description":"company's summary","schema":{"$ref":"#/definitions/CompanySummary"}},"400":{"description":"Bad Request: The scorecard_identifier or the authorization header is malformed."},"401":{"description":"Unauthorized"},"403":{"description":"Company needs to be added to a portfolio first"},"404":{"description":"company doesn't have a scorecard yet, you can add it to any portfolio to get it created."}}}},"/companies/{scorecard_identifier}/expanded-risk":{"get":{"summary":"Get a company's expanded risk","tags":["scores"],"parameters":[{"description":"primary identifier of a company or scorecard","in":"path","name":"scorecard_identifier","required":true,"type":"string","x-example":"example.com"},{"description":"optionally filter events by category","in":"query","name":"category","type":"string","enum":["adverse","corruption","financial crime","high risk industry","pep","relative or associate","sanctions","state owned company","terrorism","watchlist"],"x-example":"watchlist"},{"description":"optionally filter events by confidence","in":"query","name":"confidence","type":"string","enum":["low","unlikely","medium","high"],"x-example":"high"},{"description":"optionally specify which page of results to return","in":"query","minimum":1,"name":"page","type":"integer","x-example":1},{"description":"optionally specify how many results to return","in":"query","maximum":5000,"minimum":1,"name":"limit","type":"integer","x-example":100}],"responses":{"200":{"description":"OK","headers":{"Link":{"description":"URL to be used to used to fetch additional pages of results","type":"string"}},"schema":{"$ref":"#/definitions/ExpandedRiskEvents"}},"400":{"description":"Bad Request"},"401":{"description":"Unauthorized"},"403":{"description":"Company must be added to a portfolio first"},"404":{"description":"Company not found"},"default":{"description":"Error Payload","schema":{"$ref":"#/definitions/ExpandedRiskErrorResponse"}}}}},"/companies/{scorecard_identifier}/factors":{"get":{"summary":"Get a company's factor scores and issue counts","tags":["scores"],"parameters":[{"in":"path","name":"scorecard_identifier","type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com","required":true},{"in":"query","name":"severity","type":"string","enum":["positive","info","low","medium","high"],"description":"optionally filter issues by severity","x-example":"high","required":false},{"in":"query","name":"severity_in","type":"string","description":"optionally filter issues by comma separated severity list","x-example":"high,medium","required":false}],"responses":{"200":{"description":"company's factors","schema":{"$ref":"#/definitions/CompanyFactors"}},"400":{"description":"Bad Request: The scorecard_identifier or the authorization header is malformed."},"401":{"description":"Unauthorized"},"403":{"description":"to access scorecard's factor level data, company must be added to a portfolio first."},"404":{"description":"company doesn't have a scorecard yet, you can add it to any portfolio to get the company scored."}}}},"/companies/{scorecard_identifier}/history/factors/score":{"get":{"summary":"Get a company's historical factor scores","description":"Note: each entry in the response will have scores for each factor, you can obtain the factors currently available from [factor metadata](#tag/metadata%2Fpaths%2F~1metadata~1factors%2Fget)","tags":["scores"],"parameters":[{"in":"path","name":"scorecard_identifier","type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com","required":true},{"in":"query","name":"date_from","type":"string","description":"history start date","format":"date","x-example":"2019-03-14"},{"in":"query","name":"date_to","type":"string","description":"history end date","format":"date","x-example":"2019-04-24"},{"in":"query","name":"timing","type":"string","description":"date granularity, it could be \"daily\" (default), \"weekly\" or \"monthly\"","enum":["daily","weekly","monthly"],"x-example":"monthly"}],"responses":{"200":{"description":"company historical scores","schema":{"$ref":"#/definitions/CompanyFactorScoreHistory"}},"403":{"description":"to access scorecard's factor level data, company must be added to a portfolio first."},"404":{"description":"company doesn't have a scorecard yet, you can add it to any portfolio to get the company scored."}}}},"/companies/{scorecard_identifier}/history/score":{"get":{"summary":"Get a company's historical scores","tags":["scores"],"parameters":[{"in":"path","name":"scorecard_identifier","type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com","required":true},{"in":"query","name":"timing","type":"string","description":"timing granularity","enum":["daily","weekly","monthly"],"x-example":"daily","default":"daily"},{"in":"query","name":"from","type":"string","description":"history start date","format":"date","x-example":"2018-01-14"},{"in":"query","name":"to","type":"string","description":"history end date","format":"date","x-example":"2018-02-24"}],"responses":{"200":{"description":"company historical scores","schema":{"$ref":"#/definitions/CompanyScoreHistory"}},"403":{"description":"to access scorecard's factor level data, company must be added to a portfolio first."},"404":{"description":"company doesn't have a scorecard yet, you can add it to any portfolio to get the company scored."}}}},"/companies/{domain}/score-plans/by-target/{score}":{"get":{"summary":"Get the score plan by score target","tags":["scores"],"parameters":[{"in":"path","name":"domain","type":"string","description":"primary domain identifying a company","x-example":"example.com","required":true},{"in":"path","name":"score","type":"integer","description":"score target: the score you want to reach","x-example":90,"required":true}],"responses":{"200":{"description":"issue context in similar companies","schema":{"$ref":"#/definitions/ScorePlan"}},"403":{"description":"to access this scorecard, company must be added to a portfolio first."},"404":{"description":"company doesn't have a scorecard yet, you can add it to any portfolio to get the company scored."}}}},"/companies/{scorecard_identifier}/summary-factors":{"get":{"summary":"Get a company information, scorecard summary, factor scores and issue counts","tags":["scores"],"parameters":[{"in":"path","name":"scorecard_identifier","type":"string","description":"primary identifier of a company or scorecard","x-example":"example.com","required":true},{"in":"query","name":"severity","type":"string","enum":["positive","info","low","medium","high"],"description":"optionally filter issues by severity","x-example":"high","required":false},{"in":"query","name":"severity_in","type":"string","description":"optionally filter issues by comma separated severity list","x-example":"high,medium","required":false}],"responses":{"200":{"description":"company's summary and factors","schema":{"$ref":"#/definitions/CompanySummaryFactors"}},"400":{"description":"Bad Request: The scorecard_identifier or the authorization header is malformed."},"401":{"description":"Unauthorized"},"403":{"description":"Company needs to be added to a portfolio first"},"404":{"description":"Company not found"}}}},"/industries/{industry}/factors":{"get":{"description":"get factor scores for the industry","consumes":["application/json"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"industry","required":true,"in":"path","type":"string","x-example":"technology"},{"name":"score_type","required":false,"in":"query","type":"string"}],"responses":{"200":{"description":"List of IndustryFactors","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","x-example":"application_security"},"score":{"type":"integer","x-example":83}},"additionalProperties":false,"required":["name","score"]}}},"additionalProperties":false,"required":["entries"],"description":"List of IndustryFactors"}}},"tags":["scores"],"summary":"get factor scores for the industry"}},"/industries/{industry}/history/factors":{"get":{"description":"get historical factor scores for the industry","consumes":["application/json"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"industry","required":true,"in":"path","type":"string","x-example":"technology"},{"name":"from","required":false,"in":"query","type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},{"name":"to","required":false,"in":"query","type":"string","format":"date","pattern":"^\\d{4}-\\d{2}-\\d{2}$"},{"name":"score_type","required":false,"in":"query","type":"string"}],"responses":{"200":{"description":"List of IndustryFactorsHistories","schema":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string","format":"date-time","pattern":"^\\d{4}-\\d{2}-\\d{2}[T ]\\d{2}:\\d{2}:\\d{2}\\.{0,1}[0-9]*Z$"},"factors":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","x-example":"application_security"},"score":{"type":"integer","x-example":83}},"additionalProperties":false,"required":["name","score"]}}},"additionalProperties":false,"required":["date","factors"]}}},"additionalProperties":false,"required":["entries"],"description":"List of IndustryFactorsHistories"}}},"tags":["scores"],"summary":"get historical factor scores for the industry"}},"/industries/{industry}/history/score":{"get":{"summary":"Get an industry's historical scores","tags":["scores"],"parameters":[{"in":"path","name":"industry","type":"string","description":"an industry key, this can be obtained from a [company basic user info](#tag/companies%2Fpaths%2F~1companies~1%7Bdomain%7D%2Fget)","x-example":"technology","required":true},{"in":"query","name":"timing","type":"string","description":"timing granularity","enum":["daily","weekly","monthly"],"x-example":"daily","default":"daily"},{"in":"query","name":"from","type":"string","description":"history start date","format":"date","x-example":"2018-01-14T00:00:00.000Z"},{"in":"query","name":"to","type":"string","description":"history end date","format":"date","x-example":"2018-02-24T00:00:00.000Z"}],"responses":{"200":{"description":"industry historical scores","schema":{"$ref":"#/definitions/IndustryScoreHistory"}}}}},"/industries/{industry}/score":{"get":{"description":"get score for the industry","consumes":["application/json"],"produces":["application/json; charset=utf-8"],"parameters":[{"name":"industry","required":true,"in":"path","type":"string","x-example":"technology"},{"name":"score_type","required":false,"in":"query","type":"string"}],"responses":{"200":{"description":"Industry Score object","schema":{"type":"object","properties":{"industry":{"type":"string","x-example":"technology"},"avg_score":{"type":"integer","x-example":78},"avg_grade":{"type":"stri
[...]
